@model IEnumerable<CalculatorApp.Models.CalculationModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ddd; /* Border for the whole table */
        }

            .table th, .table td {
                border: 1px solid #ddd; /* Border for table cells */
                padding: 8px;
                text-align: left;
            }

            .table th {
                background-color: #f2f2f2;
            }
    </style>
</head>
<body>
    <p>
        <a asp-controller="Calculator" asp-action="Calculate">Back to Calculator</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MathExpression)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Result)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Timestamp)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MathExpression)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
